@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{
  scrollbar-width: none;
  /*for Chrome/Safari/Opera/Edge*/
  scrollbar-style: none;
  -webkit-scrollbar: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(1rem + 0.5vw + 0.5svh);
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  user-select: none;
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.background{
  position: fixed;
  top: 30svh;
  background: linear-gradient(to right, #008eab, #0f7a7a, #50f9ff);
  height: 12em;
  width: 17em;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px) opacity(0.1);
  transition: all 5s ease-in-out;
  animation: infinite alternate change_color 10s ease-in-out;
}

@keyframes change_color {
  0%{
      transform: rotate(0deg);
      border-radius: 60% 40% 30% 70% / 60% 30% 65% 40%;
      filter: blur(100px) opacity(0.2);
  }
  100%{
      transform: rotate(360deg);
      border-radius: 90% 60% 70% 40% / 50% 60% 30% 50%;
      filter: blur(100px) opacity(0.4);
  }
}

@keyframes change_border {
  0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 65% 40%;
  }
  50% {
      border-radius: 100% 60% 70% 40% / 50% 60% 30% 50%;
  }
}

.arrow-back{
  height: 2em;
  width: 2em;
  position: absolute;
  filter:invert(2);
  margin: 10px;
  left: 0;
  cursor: pointer;
}