@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{
  scrollbar-width: none;
  /*for Chrome/Safari/Opera/Edge*/
  scrollbar-style: none;
  -webkit-scrollbar: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(1rem + 0.5vw + 0.5svh);
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  user-select: none;
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
