.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text{
    text-align: center;
    font-size: 3em;
    margin-bottom: auto;
    margin-top: auto;
    text-shadow:
    0 0 2px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.6),
    0 0 7px rgba(255, 255, 255, 0.4);
}

.menu{
    background-color: black;
    position: fixed;
    transition: transform 1s ease-out;
    z-index: 100;
    width: 100svw;
}

.title{
    font-size: 3em;
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.4);
}

.arrow{
    text-align: center;
    font-size: 2em;
    animation: bop 2s infinite ease-in-out;
    margin-top: auto;
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.8),
    0 0 1px rgba(255, 255, 255, 0.6),
    0 0 7px rgba(255, 255, 255, 0.4);
}

.circle{
    border-radius: 50%;
    height: 4svh;
    width: 4svh;
    margin: 0.2em;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.line{
    width: 100%;
    background-color: white;
    height: 1svh;
    margin-top: 50svh;
}

.square{
    background-color: white;
    height: 40svh;
    width: 50svw;
    position: absolute;
    bottom: -60svh;
    border-radius: 100px;
    z-index: 1;
}

.triangle{
    position: absolute;
    transform: translate(15svw, 30svh);
    z-index: 0;
    border-right: 10svw solid transparent;
    border-left: 10svw solid transparent;
	border-top: 10svh solid white;
}

@keyframes bop {
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
}