.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text{
    text-align: center;
    font-size: 3em;
    margin-bottom: auto;
    margin-top: auto;
    text-shadow:
    0 0 2px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.6),
    0 0 7px rgba(255, 255, 255, 0.4);
}

.background{
    position: fixed;
    top: 30svh;
    background: linear-gradient(to right, #008eab, #0f7a7a, #50f9ff);
    height: 12em;
    width: 17em;
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px) opacity(0.1);
    transition: all 5s ease-in-out;
    animation: infinite alternate change_color 10s ease-in-out;
}

@keyframes change_color {
    0%{
        transform: rotate(0deg);
        border-radius: 60% 40% 30% 70% / 60% 30% 65% 40%;
        filter: blur(100px) opacity(0.2);
    }
    100%{
        transform: rotate(360deg);
        border-radius: 90% 60% 70% 40% / 50% 60% 30% 50%;
        filter: blur(100px) opacity(0.4);
    }
}

@keyframes change_border {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 65% 40%;
    }
    50% {
        border-radius: 100% 60% 70% 40% / 50% 60% 30% 50%;
    }
}

.menu{
    background-color: black;
    position: fixed;
    transition: transform 1s ease-out;
    z-index: 100;
    width: 100svw;
    padding: 0;
}

.title{
    font-size: 3em;
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.4);
}

.arrow{
    text-align: center;
    font-size: 2em;
    animation: bop 2s infinite ease-in-out;
    margin-top: auto;
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.8),
    0 0 1px rgba(255, 255, 255, 0.6),
    0 0 7px rgba(255, 255, 255, 0.4);
}

@keyframes bop {
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
}

.about_me{
    height: 100svh;
    width: 100svw;
}

.me_text{
    width: 40svw;
    margin-left: 10px;
}

.me{
    height: 70svh;
    width: 40svw;
    animation: infinite forwards change_border 10s ease-in-out;
}

.skills{
    height: 200svh;
    width: 100svw;
}

.projects{
    height: 100svh;
    width: 100svw;
}

.pop_up{
    width: 100svw;
    min-height: 100svh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10svh;
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
    transform: scale3d(0.9, 0.8, 0.9) translate3d(0, 240px, 0);
    margin-top: auto;
    margin: 1em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.focus{
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 80px, 0);
}

.project{
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.project:hover{
    transform: scale(1.03);
}

.project_text{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.819);
    transform: translateY(-10svh);
    height: 10svh;
    font-size: 2em;
}

.project_image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

img{
    height: 100%;
    width: 100%;
}

.jobs{
    margin-top: 30svh;
    height: 1000svh;
    width: 100svw;
    text-align: center;
}

.job{
    height: 100svh;
    width: 100svw;
    display: flex;
}

.job_title{
    font-size: 2em;
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.8),
    0 0 4px rgba(255, 255, 255, 0.4);
}

.job_logo{
    object-fit: contain;
    height: 15em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.scroll{
    display: flex;
    width: 1000svw;
}